$toolfordev-color-primary: #673ab7;

$toolfordev-color-background: #ddd;

$toolfordev-color-action-danger: #dc3545;
$toolfordev-color-action-success: #28a745;
$toolfordev-color-action-primary: #007bff;
